---
import CardEnList from '../../components/CardEnList';
import ModalEnList from '../../components/ModalEnList.astro';
import { allData, allKeywords } from '../../contents/data_en';
import Layout from '../../layouts/Layout.astro';

const videosData = allData.flatMap((data) => data.videos);
---

<Layout title="Learning about Copyright from the Basics" ogType="website" isEn>
  <main class="m-auto max-w-[120rem] grow px-4 py-8 pb-10 md:px-8 xl:px-10">
    <CardEnList client:load allData={allData} allKeywords={allKeywords} />
  </main>
  <ModalEnList data={videosData} slot="after-footer" />
</Layout>
