---
import { twMerge } from 'tailwind-merge';
import ChildPageContainer from '../components/ChildPageContainer.astro';
import CreditNotation from '../components/CreditNotice.astro';
import { storiesData } from '../contents/data';
import Layout from '../layouts/Layout.astro';

const title = '資料';
---

<Layout title={title + ' | 基礎から学ぶ著作権'}>
  <ChildPageContainer title={title}>
    <section class="grid gap-4">
      <h2>シナリオ</h2>
      <div class="grid">
        {
          storiesData.map(({ id, title }, i) => {
            const imageSrc = `${id.toString().padStart(2, '0')}.jpg`;
            const pdfSrc = `${id.toString().padStart(2, '0')}.pdf`;
            return (
              <div
                class={twMerge(
                  i % 2 === 0 ? 'bg-neutral-100 md:bg-neutral-50' : 'bg-white',
                  'grid gap-2 p-4 md:grid-cols-[1fr,auto] md:gap-4'
                )}
              >
                <div class="grid grid-cols-[auto,1fr] items-center gap-2 md:gap-4">
                  <img
                    src={`/assets/images/${imageSrc}`}
                    alt=""
                    width="320"
                    height="180"
                    class="w-full max-w-[5rem] bg-gray-200 object-cover md:max-w-[8.5rem]"
                  />
                  <div>
                    <span class="-mt-px flex gap-1 font-barlow text-xs/tight">
                      STORY
                      <span>{id.toString().padStart(2, '0')}</span>
                    </span>
                    <h3 class="text-sm/snug font-bold md:text-lg">{title}</h3>
                  </div>
                </div>
                <a
                  class="w-fit self-center border-b border-neutral-400 leading-relaxed text-neutral-600"
                  target="_blank"
                  rel="noreferrer noopener"
                  href={`/assets/pdf/${pdfSrc}`}
                >
                  シナリオを見る
                </a>
              </div>
            );
          })
        }
      </div>
    </section>
    <CreditNotation />
  </ChildPageContainer>
</Layout>
