---
import CardList from '../components/CardList';
import ModalList from '../components/ModalList.astro';
import { allData, allKeywords } from '../contents/data';
import Layout from '../layouts/Layout.astro';

const videosData = allData.flatMap((data) => data.videos);
---

<Layout title="基礎から学ぶ著作権">
  <main class="m-auto max-w-[120rem] grow px-4 py-8 pb-10 md:px-8 xl:px-10">
    <CardList client:load allData={allData} allKeywords={allKeywords} />
  </main>
  <ModalList data={videosData} slot="after-footer" />
</Layout>
