---
import License from './License.astro';
---

<section class="grid gap-4 rounded-2xl bg-neutral-100 p-6">
  <License align="right" reverse className="grid place-content-center" />
  <p>
    本動画は「基礎から学ぶ著作権/AXIES/CC BY-ND
    4.0」のようにクレジットを表記し、改変禁止の条件の下で利用してください。
  </p>
</section>
