---
import HeaderButton from './HeaderButton.astro';
import License from './License.astro';
import Navigation from './Navigation';
import SiteLogo from './SiteLogo.astro';
import EllipsisHorizontalCircle from './icons/EllipsisHorizontalCircle.astro';
import ListBullet from './icons/ListBullet.astro';

const isHome = Astro.url.pathname === '/';
const siteLogoClassName =
  'flex max-w-[9rem] justify-center lg:max-w-none xl:ml-0 xl:max-w-[7.5rem] xl:justify-start';
---

<header
  class="relative z-10 mx-auto w-full max-w-[120rem] xl:px-10 xl:py-[clamp(24px,1.6vw,32px)]"
>
  <div
    class="flex flex-col items-center pt-12 xl:flex-row xl:justify-between xl:pt-0"
  >
    {
      isHome ? (
        <div>
          <SiteLogo className={siteLogoClassName} />
        </div>
      ) : (
        <a href="/">
          <SiteLogo className={siteLogoClassName} />
        </a>
      )
    }
    <div class="flex flex-col gap-2">
      <License
        align="right"
        className="mt-6 flex justify-center xl:mt-0 xl:justify-end"
      />
      <HeaderButton className="js-nav-trigger left-4 top-4">
        <EllipsisHorizontalCircle />
        メニュー
      </HeaderButton>
      <Navigation />
      {
        isHome && (
          <HeaderButton className="js-toc-trigger right-4 top-4">
            <ListBullet />
            目次
          </HeaderButton>
        )
      }
    </div>
  </div>
</header>
