---
interface Props {
  className: string;
}

const { className } = Astro.props;
---

<div class={className}>
  <img
    src="/assets/images/logo.svg"
    alt="基礎から学ぶ著作権"
    width="180"
    height="103"
  />
</div>
